<body>
  <div
    class="container d-flex flex-column justify-content-center align-items-center h-100"
  >
    <div class="mb-4" style="font-size: 2.5rem; font-weight: bold">
      <img src="/logo_light.svg" class="image" />
    </div>
    <div class="login-box w-100" style="max-width: 400px">
      <label hlmLabel           style="width: 100%"

        >Email
        <input
          class="w-80"
          hlmInput
          type="email"
          placeholder="Email"
          style="width: 100%"

        />
      </label>

      <button
        type="button"
        class="btn btn-outline-light rounded-pill"
        style="width: 100%"
      >
        Sign in
      </button>
    </div>
  </div>
</body>
