<footer>
    <div class="footer-container justify-content-center">
      <div class="footer-section">
        <h4>NOSOTROS</h4>
        <ul>
          <li><a href="#">Conócenos</a></li>
          <li><a href="#">Tiendas</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
        <img src="/logo_light.svg" alt="Brand Logo" class="footer-logo">
      </div>
  
      <div class="footer-section">
        <h4>INFORMAION</h4>
        <ul>
          <li><a href="#">Contactenos</a></li>
          <li><a href="#">Mayoreo</a></li>
          <li><a href="#">Facturación</a></li>
        </ul>
        
      </div>
  
      <div class="footer-section">
        <h4>POLITICAS</h4>
        <ul>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Política de devoluciones</a></li>
          <li><a href="#">Política de envíos</a></li>
        </ul>
        <div class="social-icons">
            <a href="#">
                <i class="bi bi-facebook custom-icon"></i>
              </a>
              <a href="#">
                <i class="bi bi-whatsapp custom-icon"></i>
              </a>
              <a href="#">
                <i class="bi bi-youtube custom-icon"></i>
              </a>
              <a href="#">
                <i class="bi bi-linkedin custom-icon"></i>
              </a>
              <a href="#">
                <i class="bi bi-instagram custom-icon"></i>
              </a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="payment-icons">
        <img src="https://s3-symbol-logo.tradingview.com/visa--600.png" alt="Visa">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa8Qgn86KPR3al4bCxj-zfvNofa9xu2zdgQQ&s" alt="Mastercard">
        <img src="https://newsroom.latam.paypal-corp.com/images/fillers/White%20Wordmark%20on%20blue.png" alt="Paypal">
      </div>
      <p>© 2024 FashionEase</p>
    </div>
  </footer>
  