.carousel {
  overflow: hidden;
}

.carousel-inner {
  width: 100%; 
}

.carousel-item {
  width: 100%; 
}


.imageSize {
  width: 100%;
  aspect-ratio: 70 / 33;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: opacity 1s ease;
  transform: translateZ(0);
}

.carousel-item {
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease; 
}

.carousel-item.active {
  opacity: 1;
  transform: translateX(0); 
}

@media (min-width: 768px) {
  .imageSize {
    width: 100%;
    aspect-ratio: 70 / 33;
  }
}

@media (min-width: 992px) {
  .imageSize {
    width: 100%;
    aspect-ratio: 70 / 33;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3vw;
  height: 5vh;
}

.carousel-control-prev,
.carousel-control-next {
  align-items: center;
  border-radius: 50%;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: darkgray;
}

.carrousel{
  cursor: crosshair;
  /* cursor:pointer; */
}