<h1 class="title py-4" style="background-color: #890000; -webkit-text-fill-color: #f7f7f7;">
    CART PAYMENT
  </h1>
  
  <div class="row justify-content-between g-4 pb-5 ps-5 pe-5">
    <div
      *ngFor="let item of allProducts"
      class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center p-4"
    >
      <div class="card" style="background-color: #f7f7f7">
        <div class="d-grid card-body text">
          <h6 class="card-text text-b subtitle">Product ID: {{ item.id_producto }}</h6>
          <h4 class="card-title subtitle">Quantity: {{ item.cantidad }}</h4>
        </div>
  
        <div class="button-card">
          <div class="my-3 mx-5 d-flex d-grid">
            <button class="btn btn-light w-100 button-bounce" type="button">
              Add to cart <i class="bi bi-cart-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #loadingTemplate>
    <div class="text-center my-5">
      <h2>Loading Cart Products...</h2>
    </div>
  </ng-template>
  