<h1 class="title py-4" style="background-color: #890000; -webkit-text-fill-color: #f7f7f7;">
  CART PAYMENT
</h1>

<div class="container pb-5">
  <div
    *ngFor="let item of allProducts"
    class="row align-items-center justify-content-between mx-5 my-3 p-3 select"
    style="background-color: #ffecec; border-radius: 10px;"
  >
    <!-- Product Image -->
    <div class="col-3 d-flex justify-content-center ">
      <img
        src="{{ item.imagen_url }}"
        class="img-fluid image-selected"
        alt="{{ item.nombre }}"
        style="max-height: 150px; border-radius: 10px;"
      />
    </div>
    
    <!-- Product Details -->
    <div class="col-6">
      <h4 class="subtitle">{{ item.nombre }}</h4>
      <h6 class="text-b subtitle">Quantity: {{ item.cantidad }}</h6>
      <h6 class="text-b subtitle">Price: {{ item.precio }}</h6>
    </div>

    <!-- Total Price -->
    <div class="col-3 d-flex justify-content-center">
      <h4 class="text-b subtitle">TOTAL: {{ item.precio * item.cantidad }} USD</h4>
    </div>
  </div>


<button class="btn btn-dark w-100 ">
  <i class="bi bi-stripe"></i>
   Stripe Payment 
  {{finalPrice}} USD
</button>

</div>

<ng-template #loadingTemplate>
  <div class="text-center my-5">
    <h2>Loading Cart Products...</h2>
  </div>
</ng-template>
