
<nav-bar/>

<div class="" style="background-color: #f2f4f6;">
    <section class="w-80" hlmCard>
        <div hlmCardHeader>
            <h3 hlmCardTitle>Create new product</h3>
            <p hlmCardDescription>Add a product to your page with only one click.</p>
        </div>
        <p hlmCardContent>
            <label class="block" hlmLabel>
                Name
                <input class="mt-1.5 w-full" placeholder="Name of your new product" hlmInput />
            </label>

      


                    
                        
                        <select  class="my-4 mb-1.5 block form-select w-full mt-1.5 justify-between"
                        hlmLabel
                        id="edit-profile"
                        variant="outline"
                        brnPopoverTrigger
                        hlmBtn>
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
    
        </p>
        <div hlmCardFooter class="justify-between">
            <button hlmBtn variant="ghost">Cancel</button>
            <button hlmBtn>Create</button>
        </div>
    </section>


</div>

<app-footer/>