body {
    height: 100vh;
  }
  .left-side {
    height: 100vh;
    background-color: #FFFAFA;
    color: white;
}
.right-side {
    height: 100vh;
    background-color: #181717;
    color: white;
  }
  
  .image {
    width: 140px;
    align-items: center;
  }
  
  .rounded {
    border-radius: 30%;
  }
  
  .login-box input {
    background-color: #0c0c0c;
    color: white !important;
  }
  
  .login-box .btn {
    background-color: #333;
    color: white;
  }
  
  .login-box .btn:hover {
    background-color: #444;
  }
  
  a {
    color: #FFFFFFFF;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .title {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
  .mini {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
  
  .carrousel{
    cursor: crosshair;
    /* cursor:pointer; */
  }