<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body sticky-top"
  data-bs-theme="dark"
>
  <div class="d-flex justify-content-between align-items-center p-2 w-100">
    <div class="pe-2 d-lg-none">
      <button class="btn btn-outline-light" type="button">
        <i class="bi bi-layout-sidebar-inset"></i>
      </button>
    </div>

    <a class="navbar-brand d-flex align-items-center collapse" href="/">
      <img
        src="/logo_light.svg"
        alt="Logo"
        class="d-inline-block align-text-top sizeLogo"
      />
    </a>

    <form class="d-flex flex-grow-1 mx-1" role="search">
      <div class="input-group w-75">
        <input
          class="form-control custom-search"
          type="search"
          placeholder="Search..."
          aria-label="Search..."
        />
        <button class="btn btn-outline-light" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Example</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Example</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Example</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center ms-3">
      <button class="btn btn-outline-light">
        <i class="bi bi-cart-check"> </i></button
      >
      <span
        class="top-0 start-22 translate-middle badge rounded-pill bg-danger"
      >
        3
      </span>
    </div>
    <div class="d-flex align-items-center ms-3">
      <button class="btn btn-outline-light">
        <i class="bi bi-person-gear"></i>
      </button>
      <!-- TODO: change the button for the profile picture when sign up's done -->
    </div>
  </div>
</nav>
