<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="d-flex justify-content-between align-items-center p-2 w-100">
    <a class="navbar-brand d-flex align-items-center mr-5" href="/">
      <img
        src="/logo_light.svg"
        alt="Logo"
        class="d-inline-block align-text-top sizeLogo"
      />
    </a>

    <div class="d-flex flex-grow-1 mx-1 space-x-3 search-text" role="search">
      <button
        brnToggle
        hlm
        (click)="toggleItalic()"
        [class]="{ toggled: isToggled }"
      >
        <hlm-icon
          size="lg"
          name="lucideSearch"
          style="color: white"
          class="mr-5"
        ></hlm-icon>
        <h4 class="search-text">Search</h4>
      </button>
    </div>

    <div class="d-flex align-items-center ms-3">
      <a class="" routerLink="/cart">
        <hlm-icon
          size="lg"
          name="lucideShoppingCart
          "
          style="color: white"
        ></hlm-icon>
      </a>
      <span
        class="top-0 start-22 translate-middle badge rounded-pill bg-danger"
      >
        3
      </span>
    </div>
    <div class="d-flex align-items-center ms-3">
      <a class="" routerLink="/history">
        <hlm-icon
          size="lg"
          name="lucideHistory"
          style="color: white"
        ></hlm-icon>
      </a>
    </div>
    <div class="d-flex align-items-center ms-3">
      <div class="d-flex align-items-center ms-3">
        <brn-hover-card>
          <button hlmBtn variant="link" brnHoverCardTrigger>
            <hlm-icon
              size="lg"
              name="lucideUserCog"
              style="color: white"
            ></hlm-icon>
          </button>
          <hlm-hover-card-content
            *brnHoverCardContent
            class="w-80 bg-dark text-light"
          >
            <div class="flex justify-between space-x-4">
              <hlm-avatar variant="medium" id="avatar-small">
                <img
                  src="Banner1.png"
                  alt="spartan logo. Resembling a spartanic shield"
                  hlmAvatarImage
                />
              </hlm-avatar>
              <div class="space-y-1">
                <h4 class="text-sm font-semibold">
                  {{ name || "Not logged in" }}
                </h4>
                <p class="text-sm">Thank you for using Fashion Ease.</p>
                <span class="text-xs text-muted-foreground"
                  >Everything you need in one place.</span
                >
                <div
                  *ngIf="name.length > 0"
                  class="flex items-center pt-2 space-x-2"
                >
                  <button hlmBtn variant="outline" (click)="logout()">
                    Log out
                  </button>
                  <button
                    hlmBtn
                    variant="outline"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions"
                  >
                    Edit profile
                  </button>
                </div>
                <div
                  *ngIf="name.length === 0"
                  class="flex items-center pt-2 space-x-2"
                >
                  <button hlmBtn variant="outline" routerLink="/login">
                    Log In
                  </button>
                  <button hlmBtn variant="outline" routerLink="/SignUp">
                    Sign Up
                  </button>
                </div>
              </div>
            </div>
          </hlm-hover-card-content>
        </brn-hover-card>
      </div>
    </div>
  </div>
</nav>

<div
  class="offcanvas offcanvas-end bg-dark"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex w-full h-auto">
      <div
        class="d-flex justify-content-center align-items-center w-full h-full"
      >
        <div class="login-box w-full flex-col max-w-xs">
          <h2 class="align-middle mb-2 title">EDIT PROFILE!!</h2>
          <label hlmLabel style="width: 100%" class="mb-2">
            <h4 class="mb-2 subtitle">Name</h4>
            <input
              class="w-100"
              hlmInput
              placeholder="Enter user name ..."
              (change)="nameField($event)"
              value="{{ name }}"
            />
          </label>
          <label hlmLabel style="width: 100%" class="mb-2">
            <h4 class="mb-2 subtitle">Address</h4>
            <input
              class="w-100"
              hlmInput
              placeholder="Enter user address ..."
              (change)="addressField($event)"
              value="{{ address }}"
            />
          </label>
          <label hlmLabel style="width: 100%" class="mb-2">
            <h4 class="mb-2 subtitle">Phone number</h4>
            <input
              class="w-100"
              hlmInput
              placeholder="Enter phone number ..."
              (change)="phoneField($event)"
              value="{{ phone }}"
            />
          </label>
          <label hlmLabel style="width: 100%" class="mb-2">
            <h4 class="mb-2 subtitle">Email</h4>
            <input
              class="w-100"
              hlmInput
              type="email"
              placeholder="Enter email address ..."
              (change)="emailField($event)"
              value="{{ email }}"
            />
          </label>

          <label hlmLabel style="width: 100%" class="mb-2">
            <h4 class="mb-2 subtitle">Password</h4>
            <input
              class="w-100"
              hlmInput
              type="password"
              placeholder="Enter password ..."
              (change)="passwordField($event)"
              value="{{ password }}"
            />
          </label>
          <button
            hlmBtn
            variant="outline"
            style="width: 100%"
            class="rounded-pill my-2 btn"
            (click)="SignUp()"
          >
            Accept changes
          </button>

          <p class="mini text-center">
            Forgot password?
            <a class="mini" (click)="recoverPassword()"
              >Click to sent a recover password email.</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hlm-toaster />
</div>
